@import 'tailwindcss';

.section {
    max-width: 77rem;
    margin: 0 auto;
    padding: 45px 20px;
}

.swiper-container {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    min-height: 0;
    min-width: 0;
}

h1 {
    @apply font-bold text-4xl;
}

h2 {
    @apply font-bold text-3xl;
}

h3 {
    @apply font-bold text-2xl;
}

p,
pre {
    margin: 0;
    line-height: 1.5;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

:root {
    --standard-blue: #103c74;
    --standard-red: #83050e;
    --swiper-theme-color: #83050e !important;
    --shrink-limit: 750px;
}
