@import 'tailwindcss';

@font-face {
    font-family: "EB Garamond";
    src: url("../fonts/EBGaramond-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    unicode-range: U+0000-00FF, U+0100-017F;
}

@font-face {
    font-family: "EB Garamond";
    src: url("../fonts/EBGaramond-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    unicode-range: U+0000-00FF, U+0100-017F;
}

@font-face {
    font-family: "EB Garamond";
    src: url("../fonts/EBGaramond-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    unicode-range: U+0000-00FF, U+0100-017F;
}

@font-face {
    font-family: "EB Garamond";
    src: url("../fonts/EBGaramond-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
    unicode-range: U+0000-00FF, U+0100-017F;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    unicode-range: U+0000-00FF, U+0100-017F;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    unicode-range: U+0000-00FF, U+0100-017F;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    unicode-range: U+0000-00FF, U+0100-017F;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
    unicode-range: U+0000-00FF, U+0100-017F;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    unicode-range: U+0000-00FF, U+0100-017F;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
    unicode-range: U+0000-00FF, U+0100-017F;
}

@font-face {
    font-family: "Source Hans Sans";
    src: url("../fonts/SourceHanSansSC-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Source Hans Sans";
    src: url("../fonts/SourceHanSansSC-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Source Hans Sans";
    src: url("../fonts/SourceHanSansSC-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Source Hans Serif";
    src: url("../fonts/SourceHanSerifSC-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Source Hans Serif";
    src: url("../fonts/SourceHanSerifSC-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Source Hans Serif";
    src: url("../fonts/SourceHanSerifSC-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}


@theme {
    --font-sans: Lato, "Source Hans Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif: "EB Garamond", "Source Hans Serif", Georgia, Cambria, "Times New Roman", Times, serif;
}

button {
    @apply cursor-pointer;
}

.section {
    @apply mx-auto md:max-w-[77rem] max-w-screen px-5 py-12;
}

p,
pre {
    margin: 0;
    line-height: 1.5;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

:root {
    --standard-blue: #103c74;
    --standard-red: #83050e;
    --swiper-theme-color: #83050e !important;
    --shrink-limit: 750px;
}
