@import 'tailwindcss';

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    unicode-range: U+0000-00FF, U+0100-017F;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    unicode-range: U+0000-00FF, U+0100-017F;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    unicode-range: U+0000-00FF, U+0100-017F;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    unicode-range: U+0000-00FF, U+0100-017F;
}

@font-face {
    font-family: "Gandhi Serif";
    src: url("../fonts/GandhiSerif-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    unicode-range: U+0000-00FF, U+0100-017F;
}

@font-face {
    font-family: "Gandhi Serif";
    src: url("../fonts/GandhiSerif-Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
    unicode-range: U+0000-00FF, U+0100-017F;
}

@font-face {
    font-family: "Gandhi Serif";
    src: url("../fonts/GandhiSerif-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    unicode-range: U+0000-00FF, U+0100-017F;
}

@font-face {
    font-family: "Gandhi Serif";
    src: url("../fonts/GandhiSerif-BoldItalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
    unicode-range: U+0000-00FF, U+0100-017F;
}

@theme {
    --font-sans: Lato, "Source Hans Sans", "PingFang SC", "SimHei", "黑体", "Microsoft YaHei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /*--font-serif: "Gandhi Serif", "Source Hans Serif", "STSong", "FangSong", "华文宋体", "仿宋", Georgia, Cambria, "Times New Roman", Times, serif;*/
    --font-serif: Lato, "Source Hans Sans", "PingFang SC", "SimHei", "黑体", "Microsoft YaHei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

button {
    @apply cursor-pointer;
}

.section {
    @apply mx-auto md:max-w-[77rem] max-w-screen px-5 py-12;
}

p,
pre {
    margin: 0;
    line-height: 1.5;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

:root {
    --standard-blue: #103c74;
    --standard-red: oklch(39.6% 0.141 25.723);
    --swiper-theme-color: #83050e !important;
    --shrink-limit: 750px;
}

.fancy-link {
    display: inline;
    background: linear-gradient(to right, transparent, transparent), linear-gradient(to right, black, black);
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 300ms;
}

.fancy-link:hover, .fancy-link:focus {
    background-size: 0 0.1em, 100% 0.1em;
}

.group-hover-scale {
    @apply transform transition-transform duration-300 ease-in-out group-hover:scale-105;
}

.link-white::before {
    background-color: white;
}

.fade-enter-active {
    transition: opacity 1s ease;
}

.fade-enter-from {
    opacity: 0;
}

.fade-enter-to {
    opacity: 1;
}

.slide-up-fade-enter-active {
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.slide-up-fade-enter-from {
    opacity: 0;
    transform: translateY(20px);
}

.slide-up-fade-enter-to {
    opacity: 1;
    transform: translateY(0);
}

.slide-up-fade-2-enter-active {
    transition-property: opacity, transform;
    transition-duration: 0.8s;
    transition-timing-function: ease;
    transition-delay: 0.2s;
}

.slide-up-fade-2-enter-from {
    opacity: 0;
    transform: translateY(20px);
}

.slide-up-fade-2-enter-to {
    opacity: 1;
    transform: translateY(0);
}

@media (prefers-reduced-motion: reduce) {
    *, *::before, *::after {
        transition: none !important;
    }
}
