@import 'tailwindcss';

@font-face {
    font-family: "EB Garamond";
    src: url("../fonts/EBGaramond-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    unicode-range: U+0000-00FF, U+0100-017F;
}

@font-face {
    font-family: "EB Garamond";
    src: url("../fonts/EBGaramond-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    unicode-range: U+0000-00FF, U+0100-017F;
}

@font-face {
    font-family: "EB Garamond";
    src: url("../fonts/EBGaramond-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    unicode-range: U+0000-00FF, U+0100-017F;
}

@font-face {
    font-family: "EB Garamond";
    src: url("../fonts/EBGaramond-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    unicode-range: U+0000-00FF, U+0100-017F;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    unicode-range: U+0000-00FF, U+0100-017F;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    unicode-range: U+0000-00FF, U+0100-017F;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    unicode-range: U+0000-00FF, U+0100-017F;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    unicode-range: U+0000-00FF, U+0100-017F;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
    unicode-range: U+0000-00FF, U+0100-017F;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-ThinItalic.woff2") format("woff2");
    font-weight: 100;
    font-style: italic;
    unicode-range: U+0000-00FF, U+0100-017F;
}


@theme {
    --font-sans: Lato, "Source Hans Sans", "PingFang SC", "SimHei", "黑体", "Microsoft YaHei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif: "EB Garamond", "Source Hans Serif", "STSong", "FangSong", "华文宋体", "仿宋", Georgia, Cambria, "Times New Roman", Times, serif;
}

button {
    @apply cursor-pointer;
}

.section {
    @apply mx-auto md:max-w-[77rem] max-w-screen px-5 py-12;
}

p,
pre {
    margin: 0;
    line-height: 1.5;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

:root {
    --standard-blue: #103c74;
    --standard-red: oklch(39.6% 0.141 25.723);
    --swiper-theme-color: #83050e !important;
    --shrink-limit: 750px;
}

.fancy-link {
    position: relative;
}

.fancy-link::before {
    position: absolute;
    content: '';
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease-in-out;
}

.fancy-link:hover::before {
    width: 100%;
}

.link-white::before {
    background-color: white;
}

