@import 'tailwindcss';

:root {
    --standard-blue: #103c74;
    --standard-red: #83050e;
    --swiper-theme-color: #83050e !important;
}

.section {
    padding: 10px 20px;
    margin: 0 auto;
    max-width: 77rem;
}

.drop-shadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.placeholder {
    height: 80px;
}

h1 {
    @apply font-bold text-3xl;
}

h2 {
    @apply font-bold text-2xl;
}

h3 {
    @apply font-bold text-xl;
}

p,
pre {
    margin: 0;
    line-height: 1.5;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
